SCF/Web References/DonationService/DonationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDonation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creditUnion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="onclock" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="offclock" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dollars" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="additionalInfo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="donationDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDonationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDonationResult" type="tns:Donation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Donation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DonatingCreditUnion" type="tns:CreditUnion" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OnClockHours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OffClockHours" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dollars" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DonationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateAdded" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditUnion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteDonation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDonationResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDonation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditUnion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="onclock" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="offclock" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dollars" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="additionalInfo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="donationDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDonationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDonationResult" type="tns:Donation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDonationResult" type="tns:Donation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationsByCreditUnion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditUnion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationsByCreditUnionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDonationsByCreditUnionResult" type="tns:ArrayOfDonation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDonation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Donation" nillable="true" type="tns:Donation" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDonationsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDonationsByCategoryResult" type="tns:ArrayOfDonation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationsByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDonationsByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDonationsByDateResult" type="tns:ArrayOfDonation" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDonationSoapIn">
    <wsdl:part name="parameters" element="tns:AddDonation" />
  </wsdl:message>
  <wsdl:message name="AddDonationSoapOut">
    <wsdl:part name="parameters" element="tns:AddDonationResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDonationSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDonation" />
  </wsdl:message>
  <wsdl:message name="DeleteDonationSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDonationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDonationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDonation" />
  </wsdl:message>
  <wsdl:message name="UpdateDonationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDonationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDonationSoapIn">
    <wsdl:part name="parameters" element="tns:GetDonation" />
  </wsdl:message>
  <wsdl:message name="GetDonationSoapOut">
    <wsdl:part name="parameters" element="tns:GetDonationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByCreditUnionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDonationsByCreditUnion" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByCreditUnionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDonationsByCreditUnionResponse" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetDonationsByCategory" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetDonationsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDonationsByDate" />
  </wsdl:message>
  <wsdl:message name="GetDonationsByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDonationsByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="DonationServiceSoap">
    <wsdl:operation name="AddDonation">
      <wsdl:input message="tns:AddDonationSoapIn" />
      <wsdl:output message="tns:AddDonationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDonation">
      <wsdl:input message="tns:DeleteDonationSoapIn" />
      <wsdl:output message="tns:DeleteDonationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDonation">
      <wsdl:input message="tns:UpdateDonationSoapIn" />
      <wsdl:output message="tns:UpdateDonationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDonation">
      <wsdl:input message="tns:GetDonationSoapIn" />
      <wsdl:output message="tns:GetDonationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCreditUnion">
      <wsdl:input message="tns:GetDonationsByCreditUnionSoapIn" />
      <wsdl:output message="tns:GetDonationsByCreditUnionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCategory">
      <wsdl:input message="tns:GetDonationsByCategorySoapIn" />
      <wsdl:output message="tns:GetDonationsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByDate">
      <wsdl:input message="tns:GetDonationsByDateSoapIn" />
      <wsdl:output message="tns:GetDonationsByDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DonationServiceSoap" type="tns:DonationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDonation">
      <soap:operation soapAction="http://tempuri.org/AddDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDonation">
      <soap:operation soapAction="http://tempuri.org/DeleteDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDonation">
      <soap:operation soapAction="http://tempuri.org/UpdateDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonation">
      <soap:operation soapAction="http://tempuri.org/GetDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCreditUnion">
      <soap:operation soapAction="http://tempuri.org/GetDonationsByCreditUnion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCategory">
      <soap:operation soapAction="http://tempuri.org/GetDonationsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByDate">
      <soap:operation soapAction="http://tempuri.org/GetDonationsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DonationServiceSoap12" type="tns:DonationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDonation">
      <soap12:operation soapAction="http://tempuri.org/AddDonation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDonation">
      <soap12:operation soapAction="http://tempuri.org/DeleteDonation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDonation">
      <soap12:operation soapAction="http://tempuri.org/UpdateDonation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonation">
      <soap12:operation soapAction="http://tempuri.org/GetDonation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCreditUnion">
      <soap12:operation soapAction="http://tempuri.org/GetDonationsByCreditUnion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetDonationsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonationsByDate">
      <soap12:operation soapAction="http://tempuri.org/GetDonationsByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DonationService">
    <wsdl:port name="DonationServiceSoap" binding="tns:DonationServiceSoap">
      <soap:address location="http://54.186.69.152/services/DonationService.asmx" />
    </wsdl:port>
    <wsdl:port name="DonationServiceSoap12" binding="tns:DonationServiceSoap12">
      <soap12:address location="http://54.186.69.152/services/DonationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>