SCFWeb2/SCFWeb2/Service References/MemberService/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateMemberResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CU" type="tns:CreditUnion" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditUnion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creditUnion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateMemberResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Member" nillable="true" type="tns:Member" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateMember" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMember" />
  </wsdl:message>
  <wsdl:message name="CreateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberHttpGetIn">
    <wsdl:part name="hash" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:message name="CreateMemberHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="creditUnion" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberHttpPostIn">
    <wsdl:part name="hash" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:message name="CreateMemberHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="creditUnion" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:portType name="MemberServiceSoap">
    <wsdl:operation name="AuthenticateMember">
      <wsdl:input message="tns:AuthenticateMemberSoapIn" />
      <wsdl:output message="tns:AuthenticateMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <wsdl:input message="tns:CreateMemberSoapIn" />
      <wsdl:output message="tns:CreateMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberServiceHttpGet">
    <wsdl:operation name="AuthenticateMember">
      <wsdl:input message="tns:AuthenticateMemberHttpGetIn" />
      <wsdl:output message="tns:AuthenticateMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <wsdl:input message="tns:CreateMemberHttpGetIn" />
      <wsdl:output message="tns:CreateMemberHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberServiceHttpPost">
    <wsdl:operation name="AuthenticateMember">
      <wsdl:input message="tns:AuthenticateMemberHttpPostIn" />
      <wsdl:output message="tns:AuthenticateMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <wsdl:input message="tns:CreateMemberHttpPostIn" />
      <wsdl:output message="tns:CreateMemberHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServiceSoap" type="tns:MemberServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMember">
      <soap:operation soapAction="http://tempuri.org/AuthenticateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <soap:operation soapAction="http://tempuri.org/CreateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceSoap12" type="tns:MemberServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMember">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <soap12:operation soapAction="http://tempuri.org/CreateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceHttpGet" type="tns:MemberServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AuthenticateMember">
      <http:operation location="/AuthenticateMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <http:operation location="/CreateMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceHttpPost" type="tns:MemberServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AuthenticateMember">
      <http:operation location="/AuthenticateMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <http:operation location="/CreateMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="MemberServiceSoap" binding="tns:MemberServiceSoap">
      <soap:address location="http://54.186.69.152/services/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceSoap12" binding="tns:MemberServiceSoap12">
      <soap12:address location="http://54.186.69.152/services/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceHttpGet" binding="tns:MemberServiceHttpGet">
      <http:address location="http://54.186.69.152/services/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceHttpPost" binding="tns:MemberServiceHttpPost">
      <http:address location="http://54.186.69.152/services/MemberService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>