Backup/SCF/Web References/CreditUnionService/CreditUnionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCreditUnion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditUnionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditUnionResult" type="tns:CreditUnion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditUnion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCreditUnions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCreditUnionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCreditUnionsResult" type="tns:ArrayOfCreditUnion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCreditUnion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CreditUnion" nillable="true" type="tns:CreditUnion" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCreditUnionsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditUnionsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditUnionsByNameResult" type="tns:ArrayOfCreditUnion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCreditUnion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newAbbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newWWW" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newLat" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="newLong" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCreditUnionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCreditUnionResult" type="tns:CreditUnion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCreditUnion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="abbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="www" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCreditUnionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCreditUnionResult" type="tns:CreditUnion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCreditUnionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditUnion" />
  </wsdl:message>
  <wsdl:message name="GetCreditUnionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditUnionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCreditUnionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCreditUnions" />
  </wsdl:message>
  <wsdl:message name="GetAllCreditUnionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCreditUnionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditUnionsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditUnionsByName" />
  </wsdl:message>
  <wsdl:message name="GetCreditUnionsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditUnionsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCreditUnionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCreditUnion" />
  </wsdl:message>
  <wsdl:message name="UpdateCreditUnionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCreditUnionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCreditUnionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCreditUnion" />
  </wsdl:message>
  <wsdl:message name="CreateCreditUnionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCreditUnionResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditUnionServiceSoap">
    <wsdl:operation name="GetCreditUnion">
      <wsdl:input message="tns:GetCreditUnionSoapIn" />
      <wsdl:output message="tns:GetCreditUnionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCreditUnions">
      <wsdl:input message="tns:GetAllCreditUnionsSoapIn" />
      <wsdl:output message="tns:GetAllCreditUnionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditUnionsByName">
      <wsdl:input message="tns:GetCreditUnionsByNameSoapIn" />
      <wsdl:output message="tns:GetCreditUnionsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditUnion">
      <wsdl:input message="tns:UpdateCreditUnionSoapIn" />
      <wsdl:output message="tns:UpdateCreditUnionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCreditUnion">
      <wsdl:input message="tns:CreateCreditUnionSoapIn" />
      <wsdl:output message="tns:CreateCreditUnionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditUnionServiceSoap" type="tns:CreditUnionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCreditUnion">
      <soap:operation soapAction="http://tempuri.org/GetCreditUnion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCreditUnions">
      <soap:operation soapAction="http://tempuri.org/GetAllCreditUnions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditUnionsByName">
      <soap:operation soapAction="http://tempuri.org/GetCreditUnionsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditUnion">
      <soap:operation soapAction="http://tempuri.org/UpdateCreditUnion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditUnion">
      <soap:operation soapAction="http://tempuri.org/CreateCreditUnion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditUnionServiceSoap12" type="tns:CreditUnionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCreditUnion">
      <soap12:operation soapAction="http://tempuri.org/GetCreditUnion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCreditUnions">
      <soap12:operation soapAction="http://tempuri.org/GetAllCreditUnions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditUnionsByName">
      <soap12:operation soapAction="http://tempuri.org/GetCreditUnionsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditUnion">
      <soap12:operation soapAction="http://tempuri.org/UpdateCreditUnion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditUnion">
      <soap12:operation soapAction="http://tempuri.org/CreateCreditUnion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditUnionService">
    <wsdl:port name="CreditUnionServiceSoap" binding="tns:CreditUnionServiceSoap">
      <soap:address location="http://54.186.69.152/services/CreditUnionService.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditUnionServiceSoap12" binding="tns:CreditUnionServiceSoap12">
      <soap12:address location="http://54.186.69.152/services/CreditUnionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>