SCF/Web References/CategoryService/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCategoryDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCategoryIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoryDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryDescription" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryID" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDescriptionHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDescriptionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDHttpGetIn">
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesHttpGetIn" />
  <wsdl:message name="GetCategoriesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategory" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDescriptionHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryDescriptionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDHttpPostIn">
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCategoryIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesHttpPostIn" />
  <wsdl:message name="GetCategoriesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategory" />
  </wsdl:message>
  <wsdl:portType name="CategoryServiceSoap">
    <wsdl:operation name="GetCategoryDescription">
      <wsdl:input message="tns:GetCategoryDescriptionSoapIn" />
      <wsdl:output message="tns:GetCategoryDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <wsdl:input message="tns:GetCategoryIDSoapIn" />
      <wsdl:output message="tns:GetCategoryIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CategoryServiceHttpGet">
    <wsdl:operation name="GetCategoryDescription">
      <wsdl:input message="tns:GetCategoryDescriptionHttpGetIn" />
      <wsdl:output message="tns:GetCategoryDescriptionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <wsdl:input message="tns:GetCategoryIDHttpGetIn" />
      <wsdl:output message="tns:GetCategoryIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesHttpGetIn" />
      <wsdl:output message="tns:GetCategoriesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CategoryServiceHttpPost">
    <wsdl:operation name="GetCategoryDescription">
      <wsdl:input message="tns:GetCategoryDescriptionHttpPostIn" />
      <wsdl:output message="tns:GetCategoryDescriptionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <wsdl:input message="tns:GetCategoryIDHttpPostIn" />
      <wsdl:output message="tns:GetCategoryIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesHttpPostIn" />
      <wsdl:output message="tns:GetCategoriesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryServiceSoap" type="tns:CategoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryDescription">
      <soap:operation soapAction="http://tempuri.org/GetCategoryDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <soap:operation soapAction="http://tempuri.org/GetCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceSoap12" type="tns:CategoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryDescription">
      <soap12:operation soapAction="http://tempuri.org/GetCategoryDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <soap12:operation soapAction="http://tempuri.org/GetCategoryID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceHttpGet" type="tns:CategoryServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCategoryDescription">
      <http:operation location="/GetCategoryDescription" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <http:operation location="/GetCategoryID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <http:operation location="/GetCategories" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceHttpPost" type="tns:CategoryServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCategoryDescription">
      <http:operation location="/GetCategoryDescription" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryID">
      <http:operation location="/GetCategoryID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <http:operation location="/GetCategories" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="CategoryServiceSoap" binding="tns:CategoryServiceSoap">
      <soap:address location="http://54.186.69.152/services/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceSoap12" binding="tns:CategoryServiceSoap12">
      <soap12:address location="http://54.186.69.152/services/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceHttpGet" binding="tns:CategoryServiceHttpGet">
      <http:address location="http://54.186.69.152/services/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceHttpPost" binding="tns:CategoryServiceHttpPost">
      <http:address location="http://54.186.69.152/services/CategoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>