SCF/Web References/ProjectService/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="www" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditUnion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateProjectResult" type="tns:Project" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Project">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProposedBy" type="tns:CreditUnion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditUnion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Abbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newWWW" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newCategory" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newCreditUnion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateProjectResult" type="tns:Project" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectResult" type="tns:Project" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProjects">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProjectsResult" type="tns:ArrayOfProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActiveProjects">
        <s:complexType />
      </s:element>
      <s:element name="GetActiveProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveProjectsResult" type="tns:ArrayOfProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectsByCategoryResult" type="tns:ArrayOfProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectFAQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectFAQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProjectFAQResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProjectUpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectFAQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectFAQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectFAQResult" type="tns:ArrayOfProjectFAQ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProjectFAQ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectFAQ" nillable="true" type="tns:ProjectFAQ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectFAQ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteProjectFAQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProjectFAQResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProjectUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectUpdatesResult" type="tns:ArrayOfProjectUpdate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProjectUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectUpdate" nillable="true" type="tns:ProjectUpdate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectUpdate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DatePosted" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PostedBy" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CU" type="tns:CreditUnion" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteProjectUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProjectUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActivateProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeactivateProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userHash" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="Project" nillable="true" type="tns:Project" />
      <s:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfProjectFAQ" nillable="true" type="tns:ArrayOfProjectFAQ" />
      <s:element name="ArrayOfProjectUpdate" nillable="true" type="tns:ArrayOfProjectUpdate" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateProjectSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="CreateProjectSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="GetProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProjects" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveProjects" />
  </wsdl:message>
  <wsdl:message name="GetActiveProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectsByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQSoapIn">
    <wsdl:part name="parameters" element="tns:AddProjectFAQ" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectFAQResponse" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:AddProjectUpdate" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectFAQ" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectFAQResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProjectFAQ" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProjectFAQResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectUpdates" />
  </wsdl:message>
  <wsdl:message name="GetProjectUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProjectUpdate" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProjectUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateProject" />
  </wsdl:message>
  <wsdl:message name="ActivateProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeactivateProjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeactivateProject" />
  </wsdl:message>
  <wsdl:message name="DeactivateProjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeactivateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProjectHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="www" type="s:string" />
    <wsdl:part name="category" type="s:string" />
    <wsdl:part name="creditUnion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="newName" type="s:string" />
    <wsdl:part name="newDescription" type="s:string" />
    <wsdl:part name="newWWW" type="s:string" />
    <wsdl:part name="newCategory" type="s:string" />
    <wsdl:part name="newCreditUnion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectHttpGetOut" />
  <wsdl:message name="GetProjectHttpGetIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectHttpGetOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsHttpGetIn" />
  <wsdl:message name="GetAllProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="GetActiveProjectsHttpGetIn" />
  <wsdl:message name="GetActiveProjectsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategoryHttpGetIn">
    <wsdl:part name="categoryID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="answer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQHttpGetIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProjectFAQ" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQHttpGetOut" />
  <wsdl:message name="GetProjectUpdatesHttpGetIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectUpdatesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfProjectUpdate" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateHttpGetOut" />
  <wsdl:message name="ActivateProjectHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivateProjectHttpGetOut" />
  <wsdl:message name="DeactivateProjectHttpGetIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeactivateProjectHttpGetOut" />
  <wsdl:message name="CreateProjectHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="www" type="s:string" />
    <wsdl:part name="category" type="s:string" />
    <wsdl:part name="creditUnion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="newName" type="s:string" />
    <wsdl:part name="newDescription" type="s:string" />
    <wsdl:part name="newWWW" type="s:string" />
    <wsdl:part name="newCategory" type="s:string" />
    <wsdl:part name="newCreditUnion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectHttpPostOut" />
  <wsdl:message name="GetProjectHttpPostIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:Project" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsHttpPostIn" />
  <wsdl:message name="GetAllProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="GetActiveProjectsHttpPostIn" />
  <wsdl:message name="GetActiveProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategoryHttpPostIn">
    <wsdl:part name="categoryID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectsByCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProject" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="answer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddProjectFAQHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="projectID" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddProjectUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQHttpPostIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectFAQHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProjectFAQ" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectFAQHttpPostOut" />
  <wsdl:message name="GetProjectUpdatesHttpPostIn">
    <wsdl:part name="projectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProjectUpdatesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfProjectUpdate" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectUpdateHttpPostOut" />
  <wsdl:message name="ActivateProjectHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivateProjectHttpPostOut" />
  <wsdl:message name="DeactivateProjectHttpPostIn">
    <wsdl:part name="userHash" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeactivateProjectHttpPostOut" />
  <wsdl:portType name="ProjectServiceSoap">
    <wsdl:operation name="CreateProject">
      <wsdl:input message="tns:CreateProjectSoapIn" />
      <wsdl:output message="tns:CreateProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input message="tns:UpdateProjectSoapIn" />
      <wsdl:output message="tns:UpdateProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input message="tns:DeleteProjectSoapIn" />
      <wsdl:output message="tns:DeleteProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input message="tns:GetProjectSoapIn" />
      <wsdl:output message="tns:GetProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <wsdl:input message="tns:GetAllProjectsSoapIn" />
      <wsdl:output message="tns:GetAllProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <wsdl:input message="tns:GetActiveProjectsSoapIn" />
      <wsdl:output message="tns:GetActiveProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <wsdl:input message="tns:GetProjectsByCategorySoapIn" />
      <wsdl:output message="tns:GetProjectsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <wsdl:input message="tns:AddProjectFAQSoapIn" />
      <wsdl:output message="tns:AddProjectFAQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <wsdl:input message="tns:AddProjectUpdateSoapIn" />
      <wsdl:output message="tns:AddProjectUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <wsdl:input message="tns:GetProjectFAQSoapIn" />
      <wsdl:output message="tns:GetProjectFAQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <wsdl:input message="tns:DeleteProjectFAQSoapIn" />
      <wsdl:output message="tns:DeleteProjectFAQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <wsdl:input message="tns:GetProjectUpdatesSoapIn" />
      <wsdl:output message="tns:GetProjectUpdatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <wsdl:input message="tns:DeleteProjectUpdateSoapIn" />
      <wsdl:output message="tns:DeleteProjectUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <wsdl:input message="tns:ActivateProjectSoapIn" />
      <wsdl:output message="tns:ActivateProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <wsdl:input message="tns:DeactivateProjectSoapIn" />
      <wsdl:output message="tns:DeactivateProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProjectServiceHttpGet">
    <wsdl:operation name="CreateProject">
      <wsdl:input message="tns:CreateProjectHttpGetIn" />
      <wsdl:output message="tns:CreateProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input message="tns:UpdateProjectHttpGetIn" />
      <wsdl:output message="tns:UpdateProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input message="tns:DeleteProjectHttpGetIn" />
      <wsdl:output message="tns:DeleteProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input message="tns:GetProjectHttpGetIn" />
      <wsdl:output message="tns:GetProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <wsdl:input message="tns:GetAllProjectsHttpGetIn" />
      <wsdl:output message="tns:GetAllProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <wsdl:input message="tns:GetActiveProjectsHttpGetIn" />
      <wsdl:output message="tns:GetActiveProjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <wsdl:input message="tns:GetProjectsByCategoryHttpGetIn" />
      <wsdl:output message="tns:GetProjectsByCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <wsdl:input message="tns:AddProjectFAQHttpGetIn" />
      <wsdl:output message="tns:AddProjectFAQHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <wsdl:input message="tns:AddProjectUpdateHttpGetIn" />
      <wsdl:output message="tns:AddProjectUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <wsdl:input message="tns:GetProjectFAQHttpGetIn" />
      <wsdl:output message="tns:GetProjectFAQHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <wsdl:input message="tns:DeleteProjectFAQHttpGetIn" />
      <wsdl:output message="tns:DeleteProjectFAQHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <wsdl:input message="tns:GetProjectUpdatesHttpGetIn" />
      <wsdl:output message="tns:GetProjectUpdatesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <wsdl:input message="tns:DeleteProjectUpdateHttpGetIn" />
      <wsdl:output message="tns:DeleteProjectUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <wsdl:input message="tns:ActivateProjectHttpGetIn" />
      <wsdl:output message="tns:ActivateProjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <wsdl:input message="tns:DeactivateProjectHttpGetIn" />
      <wsdl:output message="tns:DeactivateProjectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProjectServiceHttpPost">
    <wsdl:operation name="CreateProject">
      <wsdl:input message="tns:CreateProjectHttpPostIn" />
      <wsdl:output message="tns:CreateProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input message="tns:UpdateProjectHttpPostIn" />
      <wsdl:output message="tns:UpdateProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input message="tns:DeleteProjectHttpPostIn" />
      <wsdl:output message="tns:DeleteProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input message="tns:GetProjectHttpPostIn" />
      <wsdl:output message="tns:GetProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <wsdl:input message="tns:GetAllProjectsHttpPostIn" />
      <wsdl:output message="tns:GetAllProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <wsdl:input message="tns:GetActiveProjectsHttpPostIn" />
      <wsdl:output message="tns:GetActiveProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <wsdl:input message="tns:GetProjectsByCategoryHttpPostIn" />
      <wsdl:output message="tns:GetProjectsByCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <wsdl:input message="tns:AddProjectFAQHttpPostIn" />
      <wsdl:output message="tns:AddProjectFAQHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <wsdl:input message="tns:AddProjectUpdateHttpPostIn" />
      <wsdl:output message="tns:AddProjectUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <wsdl:input message="tns:GetProjectFAQHttpPostIn" />
      <wsdl:output message="tns:GetProjectFAQHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <wsdl:input message="tns:DeleteProjectFAQHttpPostIn" />
      <wsdl:output message="tns:DeleteProjectFAQHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <wsdl:input message="tns:GetProjectUpdatesHttpPostIn" />
      <wsdl:output message="tns:GetProjectUpdatesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <wsdl:input message="tns:DeleteProjectUpdateHttpPostIn" />
      <wsdl:output message="tns:DeleteProjectUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <wsdl:input message="tns:ActivateProjectHttpPostIn" />
      <wsdl:output message="tns:ActivateProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <wsdl:input message="tns:DeactivateProjectHttpPostIn" />
      <wsdl:output message="tns:DeactivateProjectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProjectServiceSoap" type="tns:ProjectServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProject">
      <soap:operation soapAction="http://tempuri.org/CreateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap:operation soapAction="http://tempuri.org/UpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://tempuri.org/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap:operation soapAction="http://tempuri.org/GetAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <soap:operation soapAction="http://tempuri.org/GetActiveProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <soap:operation soapAction="http://tempuri.org/GetProjectsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <soap:operation soapAction="http://tempuri.org/AddProjectFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <soap:operation soapAction="http://tempuri.org/AddProjectUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <soap:operation soapAction="http://tempuri.org/GetProjectFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <soap:operation soapAction="http://tempuri.org/DeleteProjectFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <soap:operation soapAction="http://tempuri.org/GetProjectUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <soap:operation soapAction="http://tempuri.org/DeleteProjectUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <soap:operation soapAction="http://tempuri.org/ActivateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <soap:operation soapAction="http://tempuri.org/DeactivateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjectServiceSoap12" type="tns:ProjectServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProject">
      <soap12:operation soapAction="http://tempuri.org/CreateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap12:operation soapAction="http://tempuri.org/UpdateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://tempuri.org/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap12:operation soapAction="http://tempuri.org/GetProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap12:operation soapAction="http://tempuri.org/GetAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <soap12:operation soapAction="http://tempuri.org/GetActiveProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProjectsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <soap12:operation soapAction="http://tempuri.org/AddProjectFAQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <soap12:operation soapAction="http://tempuri.org/AddProjectUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <soap12:operation soapAction="http://tempuri.org/GetProjectFAQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <soap12:operation soapAction="http://tempuri.org/DeleteProjectFAQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <soap12:operation soapAction="http://tempuri.org/GetProjectUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <soap12:operation soapAction="http://tempuri.org/DeleteProjectUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <soap12:operation soapAction="http://tempuri.org/ActivateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <soap12:operation soapAction="http://tempuri.org/DeactivateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjectServiceHttpGet" type="tns:ProjectServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateProject">
      <http:operation location="/CreateProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <http:operation location="/UpdateProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <http:operation location="/DeleteProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <http:operation location="/GetProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <http:operation location="/GetAllProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <http:operation location="/GetActiveProjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <http:operation location="/GetProjectsByCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <http:operation location="/AddProjectFAQ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <http:operation location="/AddProjectUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <http:operation location="/GetProjectFAQ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <http:operation location="/DeleteProjectFAQ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <http:operation location="/GetProjectUpdates" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <http:operation location="/DeleteProjectUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <http:operation location="/ActivateProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <http:operation location="/DeactivateProject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjectServiceHttpPost" type="tns:ProjectServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateProject">
      <http:operation location="/CreateProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <http:operation location="/UpdateProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <http:operation location="/DeleteProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <http:operation location="/GetProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <http:operation location="/GetAllProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProjects">
      <http:operation location="/GetActiveProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategory">
      <http:operation location="/GetProjectsByCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectFAQ">
      <http:operation location="/AddProjectFAQ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectUpdate">
      <http:operation location="/AddProjectUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectFAQ">
      <http:operation location="/GetProjectFAQ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectFAQ">
      <http:operation location="/DeleteProjectFAQ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetProjectUpdates">
      <http:operation location="/GetProjectUpdates" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectUpdate">
      <http:operation location="/DeleteProjectUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ActivateProject">
      <http:operation location="/ActivateProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProject">
      <http:operation location="/DeactivateProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="ProjectServiceSoap" binding="tns:ProjectServiceSoap">
      <soap:address location="http://54.186.69.152/services/ProjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjectServiceSoap12" binding="tns:ProjectServiceSoap12">
      <soap12:address location="http://54.186.69.152/services/ProjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjectServiceHttpGet" binding="tns:ProjectServiceHttpGet">
      <http:address location="http://54.186.69.152/services/ProjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjectServiceHttpPost" binding="tns:ProjectServiceHttpPost">
      <http:address location="http://54.186.69.152/services/ProjectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>